.App {

    text-align: left;
  }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.headerbar{
  width: calc(100% - 92px);
}
 .printButton{
  width: 92px;
}
 .printButton .printbutton {
  padding: 12px 8px;
   width: 100%;
   max-width: 92px;
}

@media only screen and (max-width: 767px) {
  .header_inner .container {
  flex-wrap: wrap;
}
 .printButton {
  margin-top: 20px;
}
}
